
* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;

}

nav>ul {
    display: flex;
    width: 50vw;
    margin-left: 670px;

}

nav>ul>li {
    margin-top: 30px;
    margin-left: 40px;
    list-style: none;
    color: rgb(95, 94, 94);

}

.left {
    margin-top: 20px;
    width: 50px;
    margin-left: 140px;
}

.left>img {
    height: 62px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    font-size: 50px;
}

main>p>span {
    font-weight: bolder;
}

main>p>img {
    height: 33px;
}

.intext {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    font-size: 23px;
}

.btn {
    margin-top: 30px;
    margin-left: 39%;
    background-color: rgb(75, 180, 255);
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    font-weight: bold;
    color: white;
}

.downloadsec {

    margin-top: 55px;
    margin-left: 16%;
    display: flex;
    align-items: center;
}

.imagelogo {
    height: 50px;
}

.stex {
    margin-left: 20px;

}

.stex2 {
    margin-left: 20px;
    font-size: 25px;
    margin-bottom: 10px;


}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-left: 232px;
    margin-right: 213px;
    margin-bottom: 200px;
}

.box {
    width: 300px;
    height: 130px;
    margin: 20px;
    border-radius: 5px;
    background-color: rgba(178, 176, 176, 0.115);
}

.buttoncontain {
    display: flex;
}

button {
    margin-top: 345px;
    margin: 2%;
    background-color: rgb(75, 180, 255);
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    font-weight: bold;
    color: white;
    margin-left: 25px;
}

button:nth-child(2) {
    margin-top: 345px;
    margin: 2%;
    background-color: rgb(0, 157, 10);
    border: none;
    border-radius: 5px;
    height: 30px;
    /* width: 150px; */
    font-weight: bold;
    color: white;
}

h1 {
    margin-top: 20px;
    margin-left: 39%;
    margin-bottom: 20px;
    font-size: large;
}

footer {
    height: 600px;
    background: linear-gradient(0deg, rgb(136, 103, 242) 0%, rgb(255, 255, 255) 95.83%);
}
  .rightsec {
margin-top: 400px;
border-radius: 35px;
background-color: #6d6d6d91;
padding: 20px;
width: 50vh;
height: 40vh;
margin-left: 100vh;
display: flex;
justify-content: center;

}
input {
width: 350px;
height: 35px;
border-radius: 45px;
border: solid rgba(128, 128, 128, 0.5);
margin: 5px;
outline-color: gray;

}
.formtex {
margin-right: 30px;
}
.textbutton{
margin-top: 345px;
    margin: 2%;
    background-color: rgb(75, 180, 255);
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    font-weight: bold;
    color: white;
    margin-left: 25px;
}
